<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Success Page</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-md" style="background-image: linear-gradient(to right, #2b7fd1, #0937df); color: #5e5a5a;">

  <a class="navbar-brand text-white" href="#">Ethernet Library Feedback</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/contacts}" style="color: white;">Contact Management</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>

<div class="container">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Success!</h4>
    <p th:text="${message}"></p>
    <hr>
    <p class="mb-0"><a th:href="@{${returnUrl}}">Return to contacts</a></p>
  </div>
</div>
</body>
</html>